[alias]
ci       	= commit -a
cia      	= commit -a
ca       	= commit --amend
co       	= checkout
st       	= status
di       	= diff
dc       	= diff --cached
pum      	= pull origin master
untracked	= ls-files --other --exclude-standard
unt      	= ls-files --other --exclude-standard
aa       	= add --all
adda     	= add --all .
wdiff    	= diff --color-words
gca      	= gc --aggressive --prune=now
pur      	= pull --rebase

[color]
ui = auto

[user]
name      	= muflax
email     	= mail@muflax.com
signingkey	= CFB36312

[push]
default = matching

[github]
user = muflax

[core]
excludesfile	= .gitignore-global
quotepath   	= false

[include]
path = .git-local

[merge]
tool         	= meld3
conflictsytle	= diff3

[mergetool "meld3"]
cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE

[gui]
encoding          	= utf-8
spellingdictionary	= none

[difftool]
prompt = false
