# ignore all "normal" files/dirs, but manage all dotfiles
/*
!/.*

# ignore host-specific files
.*_local
.FEH*
.VirtualBox
.Xauthority
.config/nitrogen
.feh*
.mc
.mplayer
.serverauth*
.stardict
.subversion*
.unison*

# ignore secure shit :)
.config/MusicBrainz
.config/qtscrob.conf
.config/transmission*
.gnupg
.ncftp
.ssh

# ignore caches and histories
!.xmonad/xmonad.hs
!.xmonad/xmonad.sh
*.swp
*history
.adobe
.anthy/last-record*
.anthy/lock-file_default
.bibletime
.brainworkshop/stats.txt
.cache
.cola
.config/menus
.darcs
.dbus
.dmenu_cache
.dvdcss
.fontconfig*
.gem
.gtk-bookmarks
.icedteaplugin
.lesshst
.local/share
.lyrics
.macromedia
.matplotlib
.netx
.recently*
.ri19
.ruby_inline
.scim/input-pad-recently-used.pad
.scim/user-tables
.session
.shindai/log*
.sword
.thumbnails
.vim/.netrwhist
.vim/spell/*.add*
.vim/yankring*
.vimfuzzy*
.viminfo*
.xmonad/xmonad*
.zcompdump

# ignore logs
*log
.xsession-errors

# ignore stupid confs no one loves :)
.AbiSuite
.audacity*
.avidemux
.cgdb
.chmsee
.config/Google
.config/Ulduzsoft
.config/enchant
.config/gtk-2.0
.config/midori
.ebview
.gimp*
.gitk
.gnome2
.gnumericrc
.googleearth
.gtickrc
.htoprc
.java
.kchmviewer
.kde4
.links
.mono
.ooo3
.openoffice.org
.rubyripper
.swac
.sweeprc
.tgdb
.wesnoth
.wxMaxima
.xscreensaver

# ignore alarm music
.timeboxing
.wakeup

# ignore mail, firefox and ims, oh my!
.claws-mail
.jd
.mail
.mozilla
.purple
.vimperator/info
.weechat

# ignore wine (has its own backups)
.wine*

# ignore anki
.anki

# ignore savegames
.angband
.fceux/sav
.snes9x/snapshots*

# configs that are included, but stupid
.config/Trolltech.conf
.config/comix
.config/geeqie
.scim/config
.snes9x/snes9x.xml

# ignore ashuku and similar stuff
.ashuku
.poke.sqlite3
