[alias]
  ci        = commit -a
  co        = checkout
  st        = status
  pum       = pull origin master
  untracked = ls-files --other --exclude-standard
  unt       = ls-files --other --exclude-standard
  adda      = add --all

[color]
  ui = auto

[user]
  name  = muflax
  email = mail@muflax.com

[push]
  default = matching

[github]
  user = muflax

[core]
	excludesfile = .gitignore-global

[include]
   path = .git-local

[merge]
  tool          = meld3
  conflictsytle = diff3

[mergetool "meld3"]
  cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE

[gui]
	encoding           = utf-8
	spellingdictionary = none

[difftool]
  prompt = false