# ignore all "normal" files/dirs, but manage all dotfiles
/*
!/.*
*.pyc
*.sw[a-z]

# ignore host-specific files
/.*_local
/.VirtualBox
/.Xauthority
/.config/mc/filepos
/.config/mc/history
/.config/mc/panels.ini
/.config/nitrogen
/.serverauth*
/.subversion*
/.unison*.log
/.unison/ar*
/.unison/fp*
/.unison/lk*
/.zsh/local.sh

# ignore secure shit :)
/.authinfo
/.aws
/.beeminderrc
/.config/Barracuda Networks, Inc.
/.config/MusicBrainz
/.copy
/.dropbox*
/.gem
/.git-local
/.gnupg
/.heroku
/.laspyt.cfg
/.ncftp
/.netrc
/.offlineimap*
/.pki
/.s3cfg
/.ssh
/.steam*
/.trc

# monies
/.bitcoin
/.dogecoin
/.electrum

# ignore caches and histories
/*history
/.adobe
/.bundle/bin
/.bup
/.bup-system
/.cabal/setup-exe-cache
/.cache
/.calibre*
/.config/Google
/.config/dconf
/.config/ibus
/.config/gtk-3.0/bookmarks
/.darcs
/.dbus
/.directory
/.dmenu_cache
/.dvdcss
/.fontconfig*
/.gconf
/.gconfd
/.ghc/x86*
/.ghc/*history
/.gnuplot-wxt
/.gtk-bookmarks
/.haskell.salt
/.ibus
/.icedtea
/.icedteaplugin
/.install4j
/.lesshst
/.local/share
/.lolcommits
/.lyrics
/.macromedia
/.matplotlib
/.mu
/.netx
/.npm
/.nv
/.nviminfo*
/.plover-lock*
/.pulse*
/.python-eggs
/.recently*
/.ri19
/.session
/.smex-items
/.thumbnails
/.vim/.netrwhist
/.vim/spell/*.add*
/.vim/yankring*
/.viminfo*
/.w3m
/.wicd
/.zcomp*

# ignore logs
/.*.log
/.log
/.pip/*.log
/.config/plover/*.log
/.xsession-errors

# ignore stupid confs no one loves :)
/.Foxit
/.Mathematica
/.android
/.ardour*
/.audacity*
/.bibletime
/.cgdb
/.config/Duden
/.config/NVIDIA Corporation
/.config/RStudio
/.config/Trolltech
/.config/Ulduzsoft
/.config/autostart
/.config/calibre
/.config/chromium
/.config/google-chrome
/.config/google-googletalkplugin
/.config/gtk-2.0
/.config/hexchat
/.config/htop/
/.config/inkscape
/.config/libreoffice*
/.config/mcomix
/.config/meld
/.config/nomacs
/.config/piorekf
/.config/ristretto
/.config/sublime*
/.config/transmission/
/.config/transmission-daemon/
/.config/vmpk.sourceforge.net
/.config/xfce4
/.config/yarpen.cz
/.designer
/.dia
/.ebview
/.eclipse
/.gervill
/.gimp*
/.gitk
/.gnome2
/.gnumericrc
/.googleearth
/.gstreamer*
/.gtickrc
/.htoprc
/.java
/.kchmviewer
/.libreoffice
/.links
/.mono
/.mozc
/.officebib
/.racket
/.rstudio-desktop
/.ruby_inline
/.sword
/.tgdb
/.tuxguitar*
/.wireshark

# ignore firefox and ims, oh my!
/.jd
/.mozilla
/.purple
/.Skype

# ignore wine (has its own backups)
/.wine*

# ignore anki
/.yomichan

# ignore savegames
/.angband
/.appdata
/.caravel
/.config/MonoGame
/.config/RogueLegacyStorageContainer
/.config/unity3d
/.config/zdoom/*.pk3
/.config/zdoom/*.wad
/.config/zdoom/*.zds
/.frogatto/save.cfg
/.ftblauncher
/.gog*
/.hedgewars
/.minecraft
/.paradoxinteractive
/.polynomial
/.renpy
/.scummvm*

# configs that are included, but stupid
/.config/Trolltech.conf
/.config/geeqie

# ignore language-specific package management
/.rbenv

# kde cruft
/.kde4/cache-*
/.kde4/data
/.kde4/socket-*
/.kde4/tmp-*
/.kde4/share/apps/*
!/.kde4/share/apps/dolphin
!/.kde4/share/apps/konsole
!/.kde4/share/apps/okular
/.kde4/share/apps/okular/*
!/.kde4/share/apps/okular/*.rc
/.kde4/share/config/*
!/.kde4/share/config/gtkrc*
!/.kde4/share/config/konsole*
!/.kde4/share/config/okularpartrc
/.kde4/share/kde4

# emacs
/.slime

# avfs to open archives
/.avfs

# st terminal
/.terminfo

# fbreader
/.FBReader/**/*
!/.FBReader/*.xml

# nix
/.nix-defexpr
/.nix-profile

# rust
/.cargo
!/.cargo/config
