# ignore all "normal" files/dirs, but manage all dotfiles
/*
!/.*
*.elc
*.pyc
*.sw[a-z]

# ignore host-specific files
.*_local
.FEH*
.VirtualBox
.Xauthority
.config/mc/filepos
.config/mc/history
.config/mc/panels.ini
.config/nitrogen
.feh*
.serverauth*
.subversion*
.unison*
.zsh/local.sh

# ignore secure shit :)
.config/MusicBrainz
.dropbox
.gnupg
.heroku
.laspyt.cfg
.ncftp
.offlineimap*
.s3cfg
.s3_passphrase
.ssh

# ignore caches and histories
*history
.adobe
.aspell*
.bibletime
.brainworkshop/*.dat
.brainworkshop/stats.txt
.cache
.config/git-cola/
.config/ibus
.config/menus
.darcs
.dbus
.dmenu_cache
.dvdcss
.emacs.d/cache
.fontconfig*
.gconf
.gconfd
.gem
.gnuplot-wxt
.gtk-bookmarks
.icedtea
.icedteaplugin
.lesshst
.local/share
.lyrics
.macromedia
.matplotlib
.netx
.nv
.pki
.pulse*
.pylint.d
.recently*
.ri19
.ruby_inline
.session
.slocdata
.smex-items
.sword
.thumbnails
.vim/.netrwhist
.vim/spell/*.add*
.vim/yankring*
.vimfuzzy*
.viminfo*
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.zcomp*

# ignore logs
*log
.xsession-errors

# ignore stupid confs no one loves :)
.Foxit
.android
.audacity*
.avidemux
.cgdb
.config/DjVuLibre
.config/Google
.config/NVIDIA Corporation
.config/Ulduzsoft
.config/calibre
.config/enchant
.config/google-chrome
.config/gtk-2.0
.config/htop/
.config/kde.org/
.config/libreoffice
.config/meld
.config/transmission/
.config/yarpen.cz
.dia
.ebview
.eclipse
.gimp*
.gitk
.gnome2
.gnumericrc
.googleearth
.gstreamer*
.gtickrc
.htoprc
.java
.kchmviewer
.kde4
.libreoffice
.links
.mono
.mozc
.synopsys
.tgdb
.universalindentgui
.wxMaxima
.xchat2
.xine/


# ignore mail, firefox and ims, oh my!
.jd
.mail
.mozilla
.pentadactyl/info
.purple
.thunderbird

# ignore wine (has its own backups)
.wine*

# ignore anki
.anki
.yomichan

# ignore savegames
.angband
.minecraft
.renpy

# configs that are included, but stupid
.config/Trolltech.conf
.config/comix
.config/geeqie

# ignore rbenv
.rbenv
